@charset "UTF-8";

/* FIXME get the following to work?
@import url(../../fonts/fonts.css);
*/

body {
   background-color: #ddeeff;
   color: #001122;
   margin: auto;
   max-width: 900px;
   min-width: 600px;
   width: 80%;
}

fieldset, table#gameboard {
   float: left;
}

input.light {
   height: 100px;
   width: 100px;
}

label {
   display: block;
}

.bigtop {
   color: #660033;
   font-family: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   font-size: 250%;
   font-weight: bold;
}

.smalltop {
   color: #660033;
   font-family: Garamond, Georgia, Baskerville, Palatino, "Palatino Linotype", Didot, Bodoni, serif;
   font-size: 100%;
   font-weight: normal;
}

::selection {
   background-color: #ffffff;
}
