@charset "UTF-8";

:root {
   --monospace: Inconsolata, Consolas, "Andale Mono", AndaleMono, monospace;
   --sans-serif: Futura, "Century Gothic", Geneva, Tahoma, Verdana, Arial, sans-serif;
   --serif: Georgia, Didot, Palatino, "Palatino Linotype", "Book Antiqua", Garamond, "Goudy Old Style", Perpetua, Baskerville, Gentium, serif;
}

html {
   box-sizing: border-box;
}

*, *:before, *:after {
   box-sizing: inherit;
}

body {
   align-items: center;
   background-color: rgb(0, 15, 30);
   color: rgb(225, 240, 255);
   display: flex;
   flex-direction: column;
   font-family: var(--serif);
   justify-content: center;
   touch-action: manipulation;
}

h1 {
   color: rgb(225, 165, 195);
   font-family: var(--sans-serif);
   font-size: 250%;
   font-weight: bold;
}

label {
   display: block;
}

.light {
   height: 100px;
   width: 100px;
}

.light0of2, .light0of3, .light0of4 {
   background-color: rgb(60, 60, 60);
}

.light1of2 {
   background-color: rgb(0, 180, 90);
}

.light1of3 {
   background-color: rgb(60, 30, 105);
}

.light1of4 {
   background-color: rgb(0, 90, 135);
}

.light2of3 {
   background-color: rgb(0, 90, 180);
}

.light2of4 {
   background-color: rgb(60, 150, 0);
}

.light3of4 {
   background-color: rgb(180, 0, 60);
}

.lights-out-board {
   align-items: center;
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.lights-out-board div {
   align-items: center;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.lights-out-board div button {
   height: 100px;
   width: 100px;
}

::selection {
   background-color: rgb(30, 15, 0);
   color: rgb(90, 120, 150);
}

@media screen and (prefers-color-scheme: light) {
   body {
      background-color: rgb(225, 240, 255);
      color: rgb(0, 15, 30);
   }

   h1 {
      color: rgb(90, 0, 45);
   }

   .hint {
      color: rgb(255, 255, 255);
   }

   .light0of2, .light0of3, .light0of4 {
      background-color: rgb(180, 180, 180);
   }

   .light1of2 {
      background-color: rgb(0, 255, 90);
   }

   .light1of3 {
      background-color: rgb(150, 120, 210);
   }

   .light1of4 {
      background-color: rgb(0, 120, 180);
   }

   .light2of3 {
      background-color: rgb(0, 120, 240);
   }

   .light2of4 {
      background-color: rgb(105, 195, 0);
   }

   .light3of4 {
      background-color: rgb(255, 0, 90);
   }

   ::selection {
      background-color: rgb(255, 240, 225);
      color: rgb(90, 120, 150);
   }
}
